.blog-details {
  padding: 100px 0;
  background-color: #ffffff;
}

/* Title */
.blog-details h1 {
  font-size: 38px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 15px;
}

/* Meta info */
.blog-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

/* Media Wrapper */
.blog-banner-wrapper {
  width: 100%;
  height: 420px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 40px;
}

.blog-banner-wrapper img,
.blog-banner-wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

/* Paragraphs */
.blog-details p {
  font-size: 16px;
  color: #444;
  line-height: 1.8;
  margin-bottom: 22px;
}

/* Section heading */
.blog-details h2 {
  font-size: 26px;
  font-weight: 600;
  color: #1b1b1b;
  margin: 40px 0 15px;
}

.blog-details h2::after {
  display: none;
}

/* List */
.blog-details ul {
  padding-left: 20px;
  margin-bottom: 30px;
}

.blog-details ul li {
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
}

/* CTA */
.blog-cta {
  margin-top: 60px;
  padding: 40px;
  background-color: #f2f7f2;
  border-radius: 18px;
  text-align: center;
}

.blog-cta h3 {
  font-size: 26px;
  color: #ff5a00;
}

.blog-cta p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.blog-cta button {
  padding: 12px 34px;
  background-color: #ff5a00;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition:background 0.3s ease, transform 0.3s ease;
}

.blog-cta button:hover {
  background: #ffffff;
  color: #ff5a00;
  border: 1px solid  #ff5a00;
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 768px) {
  .blog-details h1 {
    font-size: 28px;
  }

  .blog-banner-wrapper {
    height: 260px;
  }

  .blog-cta {
    padding: 30px 20px;
  }
}
